*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  background-color: #23252C;
  width: 550px;
  height: 868px;
  margin: auto;
  margin-top: 25px;
}

.photo {
 
  width: 317px;
  height: 317px;
  margin-left: 116px;
  margin-top: 44px;
  
}

.name {
  
  width: 178.06px;
  height: 25.81px;
  margin-left: 186px;
  margin-top: 21px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}

.title {
  
  width: 178.06px;
  height: 14.19px;
  margin-left: 186px;
  

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;

}

.website {
  position: absolute;
  width: 228px;
  height: 12px;
  margin-left: 161px;
  margin-top: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 150%;
  /* identical to box height, or 15px */
  text-align: center;

  color: #F5F5F5;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  margin-top: 2.5rem;

}

.email{
  width: 115px;
  height: 34px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  border-radius: 6px;
  background-color: #FFFFFF;
  
}

.email > img {
  
  width: 22px; 
  height: 18px;
  vertical-align: middle;
  padding-right: 5px;
  
}



.linkedin {
  width: 115px;
  height: 34px;
  margin-left: 17px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  background-color: #5093E2;
  color: #FFFFFF;
  border-radius: 6px;
}

.linkedin > img {
  width: 18px; 
  height: 16px;
  vertical-align: middle;
  background-color: #FFFFFF;
  
}

.about {
  width: 247px;
  margin-left: 152px;
  color:#FFFFFF;
  padding-top: 3px;
}

.about h3 {
  margin-top: 0;
  margin-bottom: 2px;
  
}

.about p {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
}

.interest {
  
  width: 247px;
  margin-left: 152px;
  font-size: 18.4px;
  color:#FFFFFF;
}

.interest h3 {
  margin-top: 0;
  margin-bottom: 2px;
}

.interest p {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
}

.socials {
  position: absolute;
  width: 317px;
  height: 64px;
  margin-left: 116px;

}